/* SETUP */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Verdana;
}
body {
  width: 100%;
  height: 100%;
  background: #29323c;
  text-align: center;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
 width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
 background: #485563;
 border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #2f3841;
}
::-webkit-scrollbar-corner {
 background: transparent;
}
/* BEGIN STYLES */
#input {
  background: #29323c;
  height: calc(2em + 35px);

}
#clipList {
  height: calc(550px - 1em - 35px);
  overflow-y: scroll;
  overflow-x: hidden;
}
#noClips {
  color: white;
  font-size: 1.5rem;
  font-family: Verdana;
  /* display: none; */
}
#searchBar {
  width: 17.7em;
  height: 35px;
  position: fixed;
  top: 1em;
  left: 1em;
  border: none;
  font-family: Verdana;
  border-radius: 5px;
  text-indent: 10px;
  box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
  background-color: #485563;
  color: white;
  line-height: 35px;
}
#searchBar:focus {
  outline: none !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}
#clearBtn {
  position: fixed;
  width: 7em;
  height: 35px;
  top: 1em;
  right: 1em;
  border: 2px solid #e74c3c;
  font-family: Verdana;
  border-radius: 5px;
  box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
  background: transparent;
  color: #e74c3c;
  transition: 0.3s;
  vertical-align: middle;
}
#clearBtn:focus {
  outline: none !important;
}
#clearBtn:hover {
  outline: none !important;
  background-color: #e74c3c;
  color: white;
}

/* clipItem Styles */
.clipItem {
  width: calc(450px - 4em);
  max-width: calc(450px - 4em);
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.8em;
  margin-bottom: 1em;
  background-color: #485563;
  border-radius: 4px;
  text-align: right;
}
#clipPreview {
  color: white;
  opacity: 0.25;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: left;
}
#clipTime {
  color: white;
  opacity: 0.5;
  font-weight: bold;
  display: inline-block;
  margin-left: 90%;
}
